.App {
  text-align: center;
  background-color: hsl(210, 34%, 13%);
  min-height: 100vh;
}

.header {
  margin: 0 auto;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 7px;
  width: 80%;
  max-width: 580px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.turn-desktop {
  display: none;
}

.score-board {
  background-color: white;
  height: 90%;
  width: 100px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}
.player {
  margin-top: 10px;
  color: hsl(214, 32%, 60%);
  font-weight: 600;
}
.number {
  margin-top: -15px;
  font-size: 2rem;
  font-weight: 600;
}
.board {
  display: grid;
  margin: auto;
  margin-top: 30px;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  justify-content: center;
  align-content: center;
  gap: 10px;
  background-color: transparent;
  color: #444;
}
.cell {
  background-color: hsl(214, 32%, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.cell-won {
  background-color: hsl(96, 61%, 33%);
}
.turn-mobile {
  display: block;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
.reset-button {
  outline: none;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(214, 32%, 30%);
  margin-top: 30px;
  width: 240px;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .turn-desktop {
    display: block;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .turn-desktop span {
    display: block;
    margin-top: 7px;
  }
  .board {
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 110px 110px 110px;
    gap: 13px;
  }
  .turn-mobile {
    display: none;
  }
  .reset-button {
    width: 355px;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
